.columns{
  /* Additions */
  display: flex;
  gap: 2rem;
  flex-direction: column; /* Makes wrapping vertical */
  /*align-items: stretch; Default value */
  align-items: center;
}

.columns > *{
  /* Additions */
  flex: 1; /* 
  Making columns get equal sizes 
  It basically enables attributes below    
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0; 
  */
  /*justify-content: center; This attribute only works when there is a leftover space 
   Since we don't have any leftover space, we don't have to use it*/

}

@media(min-width: 750px){ /* after 750px */ 
  .columns{
    flex-direction: row;
  }
}


.card {
  padding: 1rem;
  background: hsl(var(--clr-green));
}

.card:nth-child(2){
  background: pink;
  align-self: flex-start; /*Behaves independently from parent*/
}

.tags {
  display: flex;
  gap: 1em;
  list-style: none;
  font-size: 0.725rem;
}

.tag {
  background: hsl(0 0% 100% / 0.4);
  padding: 0.25rem 0.5rem;
}

:root {
  --clr-orange: 7 100% 63%;
  --clr-blue: 239 100% 50%;
  --clr-green: 125 50% 50%;
  --spacer: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding: var(--spacer);
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

h1 {
  margin-bottom: 1em;
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
  line-height: 1.1;
  color: hsl(var(--clr-orange));
  text-shadow: 0.05em 0.05em 0 hsl(0 0% 0% / 0.7);
}
